- @title = "Contact Form: Mandril API Integration"
.row
  .small-12.columns.centered
    %h2 Contact Form : Powered by Mandrill API
.row
  .small-12.columns
    =image_tag "http://mandrill.com/assets/images/brand/logo-shield-72695847.png", style: "float: left; margin-top: -35px;"
    %p I scratch built this contact form, leveraging the #{ link_to "Mandril API", "http://mandrill.com", :target => "blank" } to process the email.
    %p That little monkey to the left is their logo.
    %p I built the form with the form_tag Rails helper, HAML for the HTML and Foundation for the styling.
    %p The form params are shipped off to the ContactFormController#create.
    %P From there, I pass the params to my "contact_form_email" ActionMailer. Easy peasy!
  %hr
  =form_tag contact_form_index_path, action: 'create', method: 'post' do
    %fieldset
      %legend Shoot Me a Mail!
      .row
        .small-12.large-6.columns
          =label_tag :name
          =text_field_tag :name, nil, class: "radius"
        .small-12.large-6.columns
          =label_tag :user, "Email"
          =email_field :user, :address, class: "radius"
        .small-12.columns
          =label_tag :subject
          =text_field_tag :subject, nil, class: "radius"
        .small-12.columns
          =label_tag :message
          =text_area_tag :message, nil, class: "radius"
        .small-12.columns
          =submit_tag "Send Message", class: "button radius right"
