.row
  .small-4.small-centered.columns
    =form_tag '/blog/login', method: :post do
      %fieldset
        %legend Blog Login
        .row
          .small-12.columns
            = label_tag :user_name, "Username"
            = text_field_tag :user_name, nil, class: "radius"
          .small-12.columns
            = label_tag :password, "Password"
            = password_field_tag :password, nil, class: "radius"
          .small-12.columns
            =submit_tag "Login", class: "button radius right"