- unless @business_names == nil
  - @business_names.each do |name|
    .small-12.large-4.columns.centered
      %h4{class: 'button radius info', style: 'width: 300px;'}
        CrossFit
        =name.capitalize