.row
  .small-12.columns
    .div.centered{style: "margin-top: 5px;"}
      - flash.each do |name, msg|
        %div(data-alert=true class="alert-box #{name} radius")
          %a.close(href="#")
            &times;
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
