<%= render 'layouts/top_nav', title: "Welcome to the site!" %>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Leave Me a Message</h3>
    </div>
    <div class='panel-body'>
      Message form here
    </div>
  </div>

