.row
  .small-12.columns.centered
    %h2 DoggieDashboard Pet Care CRM
    %hr
  .small-12.column
    %p
      DoggieDashboard is a
.row
  .small-12.column.centered
    %img(src="https://drive.google.com/uc?id=0BwSA_JYWKK3IN21mX0Nobkl5d3M")
    %hr
.row
  .small-12.small-centered.columns
    %dl.tabs{data:{tab:""}}
      %dd.active
        =link_to "Save Client Records", "#panel1"
      %dd
        =link_to "View Client Database", "#panel3"
      %dd
        =link_to "Email Clients", "#panel2"
      %dd
        =link_to "Save Pet Records", "#panel4"
      %dd
        =link_to "See Pet Info", "#panel5"
    %hr
    .tabs-content
      #panel1.content.active
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpWDJYb01DUkNaUHM")
      #panel2.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpdWlWc1BzNlFDM0E")
      #panel3.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpWk5FTmNhVHRNSzg")
      #panel4.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpNHBkNkNndzZNcEE")
      #panel5.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpaHJQM2F2bGU0N2s")




