.row
  .small-12.columns.centered
    %h2 DoggieDashboard Pet Care CRM
    %hr
  .small-12.column
    %p
      There was one requirement when I was tasked with building
      %b=link_to "DoggieDashboard.com", "https://doggiedashboard.com"
      Build a web app that will make life easier for doggie daycare owners. Right up my alley! If there's one thing I enjoy, it's building apps with real-world implications.
    %p
      First and foremost, I did some research to see what doggie daycares needed from a CRM. This involved going out and meeting with end-users of the future application. So many apps are designed without the end-user in mind, and then when it's time to show users the final project, the users are unimpressed.
      %b Why?
      Because it isn't what they wanted in the first place. I wanted to avoid this problem so I got user input from the start. I was expecting some pretty far-fetched requirements when I heard,
      %b"Nothing crazy, just a simple place to store data and send emails."
    %p
      As it turns out, most current doggie daycare CRM systems are just atrocious. Most require in-person training and almost all come with a...wait for it...installaction CD.
      %b A what?!?
      Who installs software anymore, especially off a CD-ROM? DoggieDashboard is destined to be the go-to spot for doggie daycare owners. It keeps track of their pet & owner information, as well as allows doggie daycare owners to send emails directly to their clients. Future features will include integrated Stripe billing, online appointment scheduling(Javascript widget on their website), and anything else that gets requested by current users.
    %p
      Current repo has 135 tests and it keeps on growing. Please contact me for more info. The site is built using Foundation and Rails 4. Click the orange tabs below to see app screenshots.
.row
  .small-12.column.centered
    %img(src="https://drive.google.com/uc?id=0BwSA_JYWKK3IN21mX0Nobkl5d3M")
    %hr
    %p
      Click on the various tabs below to see screenshots from inside the app.
.row
  .small-12.small-centered.columns
    %dl.tabs{data:{tab:""}}
      %dd.active
        =link_to "Save Client Records", "#panel1"
      %dd
        =link_to "View Client Database", "#panel3"
      %dd
        =link_to "Email Clients", "#panel2"
      %dd
        =link_to "Save Pet Records", "#panel4"
      %dd
        =link_to "See Pet Info", "#panel5"
    %hr
    .tabs-content
      #panel1.content.active
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpWDJYb01DUkNaUHM")
      #panel2.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpdWlWc1BzNlFDM0E")
      #panel3.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpWk5FTmNhVHRNSzg")
      #panel4.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpNHBkNkNndzZNcEE")
      #panel5.content
        %img(src="https://drive.google.com/uc?id=0B5_GO_i3vutpaHJQM2F2bGU0N2s")




