- @title = "Building a Sinatra Application using External API & Foundation"
- @metadescription = "I built the TryPaper.com PDF Mailer App to give their users a way to easily upload and send PDF files via the USPS."
.row
  .small-12.column
    %h1.centered{:style =>"font-size: 36px;"} TryPaper.com PDF Mailer Web Application
    %hr
    %p
      This page will be Part 2 of the TryPaper Ruby Gem series where I discuss building the Sinatra application, designed using the Zurb Foundation framework. While you're here, you might as well check out the blog post discussing how I built the TryPaper gem.
    %p
      %a{:href => "http://www.patrickjones.me/blog/step-by-step-guide-to-building-an-external-api-ruby-gem"} TryPaper Ruby Gem blog post
    %p
      This page should be done quite shortly. Check back soon!
    %p
      %a{:href => "http://trypaper.herokuapp.com/", :title => "PDF Mailing Application"} TryPaper.com USPS PDF Mailing Application