- @title = "Building a PDF Mailer Application using a Third Party API"
- @metadescription = "I built the TryPaper.com PDF Mailer App to give their users a way to easily upload and send PDF files via the USPS."
.row
  .small-12.column
    %h1.centered{:style =>"font-size: 36px;"} TryPaper.com PDF Mailer Web Application
    %hr