# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4de9fe77d5f7c1b832afb1773c850a7e5a5ccd26587aa3c05da8d427965f9ee8f7181c7af1ace63a224de7917002c041349521f483cb7cfe70460bbe56d83838
  big_thes_key: <%= ENV["BIG_THES_KEY"] %>

test:
  secret_key_base: 05fc20cd2c5f63a03805bca1e09f2cde3a56bd3432ccf3d096bfa6e8429aa0bb4b255317a89059f5d9d617990f89e7af6ce2ea737e7fb3884adae1eb86d53083

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  big_thes_key: <%= ENV["BIG_THES_KEY"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>


