- financial_entries.each do |entry|
  .panel
    %p
      = button_to "Delete", financial_entry_path(entry.id), method: :delete, style: "float: right;", remote: true, data: {disable_with: "Deleting..."}
      = link_to "Edit", edit_financial_entry_path(entry.id), style: "float: right; margin-right: 10px;"
      <b>Name:</b> #{entry.name} <b>Amount:</b> #{number_to_currency(entry.amount, unit: "$")}