- if @error_message
  alert("#{sanitize @error_message}");
- else
  $('#financial_entries_holder').html("#{escape_javascript(render 'financial_entries/list_view', financial_entries: @financial_entries)}");