- @title = "SMS to Screen using Twilio API"
.row
  .small-12.columns.centered
    %h2 Contact Form : Powered by Mandrill API
.row
  .small-12.columns
    %h4{ :style => "text-decoration: underline"} It's Twilio Time Baby!
    %p Twilio is a text messaging API that lets you send text messages online.
    %p Text your first name, followed by a message, to 720-897-3141 and await the reply message.
    %h5{ :style => "text-decoration: underline"} Example Text Message (without the quotes)
    %p "John Hey Man. Just testing your Twilio App thingy!"
.row
  .small-12.columns
    %h4 Received Messages:
  %hr
  .small-12.large-6.columns
    - @texts.each do |s|
      %p
        %b Sender:
        = s.name
      %p
        %b Message:
        = s.message
      %hr