/- binding.pry
/.well.col-md-2
.col-md-4
  %h4 It's Twilio Time Baby!
  %p Twilio is a text messaging API that lets you send text messages online.
  %p Text your name 720-897-3141 and await the reply message.
  %hr
  - @texts.each do |s|
    .alert.alert-success
      %p{ :style => "font-weight: bold" } Sender:
      = s.name
      %p{ :style => "font-weight: bold" } Message:
      = s.message