/Base template for all blog posts
/ - @title = "TITLE"
/ - @metadescription = "DESCRIPTION"
/ .row
/   .small-12.column
/     %h1.centered{:style =>"font-size: 36px;"} COOL TITLE HERE
/     %p Published: SOME DATE
/     %hr

