- @title = "Converting Ruby on Rails Forms from DIVs to HAML"
- @metadescription = "Converting Rails forms from DIVs to HAML was a nightmare, but I worked through it. Here's how."
.row
  .small-12.column
    %h2 Converting Ruby on Rails Forms from Div Soup to HAML
    %p Published: August 28, 2014
    %hr
    %p
      I had a VERY DIFFICULT TIME converting my DIV soup Ruby on Rails form from regular HTML to HAML. I looked everywhere for examples of how to convert the forms, but I couldn’t find anything.
    %p
      The HAML documentation for Rails forms, especially non-model-backed forms that utilize form_tag and text_field_tag, was a bit shoddy. I’m sure for a more advanced developer it would suffice, but for a novice like myself, it wasn’t that helpful.
      So, I created this mini-tutorial that shows how you take a rather complex Bootstrap-themed Ruby on Rails form, and convert it from HTML markup to HAML markup.
    %p
      Once I finally figured out HAML, it became much easier and more fun to write. They aren’t lying when they say it’s an enjoyable language to write, just takes a while to figure it out.
    %p
      I reduced to 28 line DIV form to 18 lines using HAML. I could have cleaned it up even more, but I enjoy the aesthetic appeal of the spacing.
    %p
      DIV Soup Bootstrap Version:
      %p
      <iframe src="http://pastebin.com/embed_iframe.php?i=GV6cqhWK" style="border:none;width:100%;height:650px;"></iframe>
    %p
      HAML Version:
      %p
      <iframe src="http://pastebin.com/embed_iframe.php?i=nQhkw7E7" style="border:none;width:100%;height:440px;"></iframe>
    %p
      So much cleaner!