- @title = "Continuing to Learn Javascript as a Ruby Developer"
- @metadescription = "Back when I was starting to learn Ruby, I was constantly distracted by the next shiny thing. Now I realize Javascript is what you need."
.row
  .small-12.columns
    %h1.centered{:style =>"font-size: 36px;"} Stop Getting Distracted by Shiny Things and Learn Javascript
    %p Published: February 2, 2018
    %hr
  .small-12.columns
    %p
      Back when I was
      =link_to "starting my journey", "http://pmichaeljones.herokuapp.com/blog/my-experience-with-the-tealeaf-academy-ruby-on-rails-developer-bootcamp"
      to become a developer, I always said I wouldn't get distracted along the way. I was going to learn Ruby, and then continue learning other languages as I went. Well,
      = link_to "DoggieDashboard", "http://DoggieDashboard.com"
      started to get more popular, and I found myself spending the entirety of my time doing Ruby. I've become a much better Ruby programmer than I used to be. Man, sometimes, when I'm doing a refactor of old code, I see the, sorry, shitty code, that I used to write and think, "Wow, you wrote this Patrick?". That's all part of the process of becoming a developer. You code something that works, test it and push it, and then, a year later, when you go back to do a refactor, you're given the chance to see how much you're grown as a developer. 
    %p
      Anyways, now that DoggieDashboard is chugging along nicely and I've gotten some nice lead tracking and user engagement set up using
      = link_to "Intercom", "http://Intercom.com"
      I have more time to focus on expanding my programming language knowledge. I remember, back in 2014, that I thought it was going to be essential to know Angular. Everyone was using it and it was the hot ticket item. Then, it was React. Then, everyone was talking about Vue and all the hot consulting companies were using it. Then, I sat myself down, figuratively, and said to myself, "Man, you don't even know Javascript that well. How the hell are you going to ever become a decent Angular or React developer if you don't understand what's happening under the hood?" This is quite similar to the concept of a Rails developer that has absolutely no idea about Ruby. They know all about current_user, but they don't have any idea how it's implemented. They know about "button_to", but they can't tell you how it works.
    %p
      Long story short, I've decided to focus my next few months on doing pure Javascript tutorials. I'd like to become a better all-around developer, and I feel like any web developer worth their salary should have a solid understanding of pure JS. Not JQuery, not React, no Angular. I'm talking basic JS. The stuff that those other libraries are written in. I don't want to be the guy that lives in Stack Overflow for 8 hours a day looking for JS snippets I can copy and paste, I want to be writing those JS snippets. The plan is to start with
      = link_to "Udemy's JS Fundamentals Course", "https://www.udemy.com/javascriptfundamentals/"
      and then work through any other high quality tutorials I can find.
    %p
      I've also decided that it's time to start looking for a good programming job. I'd like to work in an office with other smart developers. I've been working solo for the last 3 years, and it's been fun, but I want to learn more, faster, and sitting next to a team of other programmers is the only way to really get there.













