- @title = "Starting a 'Lifestyle Entrepreneur' Business and Living Off It"
- @metadescription = "I started my lifestyle business a few years ago in order to be able to work and travel abroad, now I can."
.row
  .small-12.column
    %h1.centered{:style =>"font-size: 34px; color: white; background: steelblue; padding: 0px 5px;"} How I Started a "Lifestyle Business" and Live Off the Earnings
    %p Published: May 21, 2015
    %hr
.row
  .small-12.column
    %p
      This is the story of how I went from serving tables in the USA to working from around the globe. I did it, and you can too!
  .small-12.large-6.column
    .panel
      %h2.centered May 2014 Revenue
      %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.57-PM.png"}
  .small-12.large-6.column
    .panel
      %h2.centered May 2015 Revenue
      %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.07-PM.png"}
.row
  .small-12.column
    %p
      It's been a while since I wrote a blog post, so I thought I should probably tell you all what's happening.
    %p
      A few years back, like 2011, I started a company called "Text Marketing Miami" while living in, wait for it, Miami.
    %p
      Horrible name for a company. Makes me cringe just thinking about it. First tip for you aspiring internet entrepreneurs out there; unless you never plan on expanding your business into new markets,
      %span{:style => "font-weight: bold;"}
        don't use a city name in your business name!
    %p
      As soon as you tie yourself to a geographic region you ostracize potential clients in different cities. Text Marketing Miami was a text message marketing company that, technically, could work in any city. I received numerous calls from people asking, "Does your service work in Boca Raton?", "Does your service work in Tampa?". Of course it did! However, with a name like Text Marketing Miami, they were unsure. Just think how many people never called me and just assumed that my service wouldn't work in their area.
    %p
      Anyways, I digress.
    %p
      I knew I wanted to start a business that allowed me to travel, as much as possible. If there's one thing that makes me happy, it's getting into an airplane and going somewhere that I've never been before. Most of my friends after college got jobs at big Fortune 500 companies. I went to a good business school, and that's what expected of you when you leave a business school. They bragged about their 2 weeks of paid vacation a year and their $50,000 salaries. 2 weeks?!?!? That's not even enough time to settle into a new city. I like to spend at least a month in each destination I visit. You get to know the people, the food, the little neighborhood you call home, etc. I knew the corporate world of 10 days of paid vacation was not going to work.
    %p
      After realizing that gyms were going to be my target market, I changed the name go GymTexter. I just looked for the old logo online but I can't find it anywhere. It was a dumbbell with GYM on top and TEXTER below. It was a good start. However, once again, I ostracized some potential businesses. Why would a yoga studio use a service with the word "gym" in the name? Fail #2. Well, third time was a charm and
      %span
        =link_to "http://boostfitnessmarketing.com/fitnesstexter/", :target => "_blank" do
          %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/fitnesstexter-logo.png", :style => "width: 10%;"}
      was born.
    %h2.cool-heading
      People Will Call You Lucky. Just Laugh to Yourself
    %h2.cool-heading
      You Can Live for Less Than You Think
    %h2.cool-heading
      Figure Out What's Important and Go For It
    %h2.cool-heading
      You WILL Get Depressed. You WILL Persevere.
    %h2.cool-heading
      Keep Grinding. Ideas Will Change Over Time.
    %h2.cool-heading
      Treat Yourself Every so Often
    %h2.cool-heading
      Remember How it All Started
    %h2.cool-heading
      Pay Your Taxes. The IRS Will Find You.
.row
  .small-12.column
    %h3.centered
      Patrick Jones Career Timeline
    %p
      2011: Started Text Marketing Miami (Failed but learned a lot)
    %p
      2011: Worked at SugarCane (Popular restaurant in Miami)
    %p
      2012: Changed Focus to Fitness Businesses & Renamed GymTexter (kinda successful)
    %p
      2012 - 2014: Worked at 3 Restaurants in Denver
    %p
      2014: Quit Job at PaySimple to Dedicate Myself to FitnessTexter (it paid off)