- @title = "Starting a 'Lifestyle Entrepreneur' Business and Living Off It"
- @metadescription = "I started my lifestyle business a few years ago in order to be able to work and travel abroad, now I can."
.row
  .small-12.column
    %h1.centered{:style =>"font-size: 34px; color: white; background: steelblue; padding: 0px 5px;"} How I Started a "Lifestyle Business" and Live Off the Earnings
    %p Published: May 21, 2015
    %p.bold Inspiration: "It is a big and beautiful world. Most of us live and die in the same corner where we were born and never get to see any of it. I don’t want to be most of us."

.row
  .small-12.columns
    %h4.centered Places I Have Worked from & Visited Since Quitting Corporate America:
.row.tiny
  .small-12.large-4.column
    %p Lima, Peru (November 2013)
    %p Buenos Aires, Argentina (December 2013)
    %p Budapest, Hungary (November 2014)
  .small-12.large-4.column
    %p Prague, Czech Republic (November 2014)
    %p Berlin, Germany (November 2014)
    %p Salt Lake City, Utah (May 2015)
  .small-12.large-4.column
    %p Barcelona, Spain (TBD: July 2015)
    %p Organya, Spain (TBD: July-August 2015)
    %p Marseille, France (TBD: September 2015)
  %hr
.row
  .small-12.column
    %p
      This is the story of how I started an online business(while serving tables in the USA) and currently work from around the globe.
  .small-12.large-6.column
    .panel
      %h2.centered May 2014 Revenue
      %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.57-PM.png"}
  .small-12.large-6.column
    .panel
      %h2.centered May 2015 Revenue
      %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.07-PM.png"}
.row
  .small-12.column
    %p
      It's been a while since I wrote a blog post, so I thought I should probably tell you all what's happening.
    %p
      A few years back, like 2011, I started a company called "Text Marketing Miami" while living in, wait for it, Miami.
    %p
      Horrible name for a company. Makes me cringe just thinking about it. First tip for you aspiring internet entrepreneurs out there; unless you never plan on expanding your business into new markets,
      %span{:style => "font-weight: bold;"}
        don't use a city name in your business name!
    %p
      As soon as you tie yourself to a geographic region you ostracize potential clients in different cities. Text Marketing Miami was a text message marketing company that, technically, could work in any city. I received numerous calls from people asking, "Does your service work in Boca Raton?", "Does your service work in Tampa?". Of course it did! However, with a name like Text Marketing Miami, they were unsure. Just think how many people never called me and just assumed that my service wouldn't work in their area.
    %p
      Anyways, I digress.
    %p
      I knew I wanted to start a business that allowed me to travel, as much as possible. If there's one thing that makes me happy, it's getting into an airplane and going somewhere that I've never been before. Most of my friends after college got jobs at big Fortune 500 companies. I went to a good business school, and that's what expected of you when you leave a business school. They bragged about their 2 weeks of paid vacation a year and their $50,000 salaries. 2 weeks?!?!? That's not even enough time to settle into a new city. I like to spend at least a month in each destination I visit. You get to know the people, the food, the little neighborhood you call home, etc. I knew the corporate world of 10 days of paid vacation was not going to work.
    %p
      After realizing that gyms were going to be my target market, I changed the name go GymTexter. I just looked for the old logo online but I can't find it anywhere. It was a dumbbell with GYM on top and TEXTER below. It was a good start. However, once again, I ostracized some potential businesses. Why would a yoga studio use a service with the word "gym" in the name? Fail #2. Well, third time was a charm and
      %span{:style => "font-weight: bold;"}
        =link_to "http://boostfitnessmarketing.com/fitnesstexter/", :target => "_blank" do
          %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/fitnesstexter-logo.png", :style => "width: 10%;"}
      was born.
    %h2.cool-heading
      People Will Call You Lucky. Just Laugh to Yourself
    %p
      If there's one thing that "unhappy with their place in life" people like to do, it's take credit away from hard-working individuals and give that credit to that sultry mistress they call LUCK. Follwing this thought process, it's not their own fault that they're unhappy with life, it's just that this other person happens to be really LUCKY. See what I'm saying? I can't tell you how many times I've heard,
      %span{:style => "font-weight: bold;"}
        "Man Patrick, you're so lucky you get to travel so much."
      Oh really, so it's just luck that got me here? What about the thousands of hours I've put into building this business? What about the hours of phone calls I've made talking with gyms owners? That's all luck you say? No, it's hard work. Luck is winning the lottery and being wealthy for the rest of your life. The only luck I've been dealt was being raised in a middle-class family by great parents who encouraged my sisters and me to pursue our dreams. The rest of this has been hard work.
    %p
      However, like the headline of this paragraph says, just laugh to yourself. There's no use vocalizing your anger with these people. They're probably just unhappy with their current situation and instead of addressing it head on, they take solace in believing that their position in life is luck-based, instead of self-determined. Whenever someone brings up luck, I usually reply,
      %span{:style => "font-weight: bold;"}
        "Yeah, I'm really fortunate to be able to travel as much as I do."
      and leave it at that.
    %h2.cool-heading
      You Can Live for Less Than You Think
    %p
      I've learned that I don't need a lot of money to sustain my lifestyle. Since graduating college, I've made an average of $35,000 a year. Most people I know can't imagine living on that small amount of money. They signed up for the American Dream and piled on the debt after graduating college. I have student loan debt as well, so don't think I had my college paid for by my parents. I worked at the Loring Pasta Bar every year of college and paid the majority of my tuition in cash! I definitely missed out on some college experiences(football tailgating) because I was working, but now I don't have a huge debt cloud over my head. Anyways, back to the people who say they can't live on $35,000 a year. I know a guy who wanted a truck, so he went out and bought a 2015 Ford F150. Can you guess his monthly payment? $700! That's stupid. I couldn't believe it. I drive a 1997 Subaru with 195,000 miles on it. It cost me $2700. No car payment there.
     %p
      I'll be the first one to admit that I'm sometimes a bit obsessed with money. I never think I have enough, or I'm always worried about making more. However, at the same time, I've always had enough to live and I've never once lived paycheck to paycheck, so I'm not really sure where I get my stingy-ness. Either way, it's good to worry about money every once in a while, but it's better to learn to live on less than find a way to make more. I have learned that you don't need a lot of money to live a good life. As I write this paragraph, I'm in Organyà Spain, paragliding for 6 weeks. My friends and I rented a flat for 400 Euro a month. Since there are 4 of us here right now, that means I'm spending $100 Euro for rent this money. Nothing!
    %h2.cool-heading
      Figure Out What's Important and Go For It
    %h2.cool-heading
      You WILL Get Depressed. You WILL Persevere.
    %p
      Running your own business isn't all peaches and jublibee. It's a long difficult process that will take its toll on your mental health. One of the most important things to realize is that you will get depressed, but eventually, you will overcome it. I can't tell you how many times I got down on my self because I wasn't successful yet. I was 25(super young), but for some reason, I felt like I should have achieved some level of success. Everyone likes to call themselves an entrepreneur, especially 'serial entrepreneur' (barf!!!), but its' one thing to have an idea and it's another thing to make that idea into a profitable venture. So, just remember, you'll get sad. You'll think you're a failure, you'll think you should be doing more, you'll feel pretty much every bad feeling available. Just keep pushing forward, try to accomplish at least one important thing per day (be it a blog post, a bit of code, a sales call), and you'll start to feel better.
    %h2.cool-heading
      Keep Grinding. Ideas Will Change Over Time.
    %h2.cool-heading
      Treat Yourself Every so Often
    %h2.cool-heading
      Remember How it All Started
    %h2.cool-heading
      Pay Your Taxes. The IRS Will Find You.
.row
  .small-12.column
    %h3.centered
      Patrick Jones Career Timeline
    %p
      2011: Started Text Marketing Miami (Failed but learned a lot)
    %p
      2011: Worked at SugarCane (Popular restaurant in Miami)
    %p
      2012: Changed Focus to Fitness Businesses & Renamed GymTexter (kinda successful)
    %p
      2012 - 2014: Worked at 3 Restaurants in Denver
    %p
      2014: Quit Job at PaySimple to Dedicate Myself to FitnessTexter (it paid off)