- @title = "Starting a 'Lifestyle Business' and Living Off It"
- @metadescription = "I started FitnessTexter a few years ago in order to be able to travel abroad, now I can."
.row
  .small-12.column
    %h1.centered{:style =>"font-size: 36px;"} How I Started FitnessTexter and Live Off the Earnings
    %p Published: May 21, 2015
    %hr
.row
  .small-12.column
    %p
      It's been a while since I wrote a blog post, so I thought I should probably tell you all what's happening.
    %p
      A few years back, like 2011, I started a company called "Text Marketing Miami" while living in, wait for it, Miami.
    %p
      Horrible name for a company. Makes me cringe just thinking about it. First tip for you aspiring internet entrepreneurs out there; don't use a city name in your business name! As soon as you tie yourself to a geographic region you ostracize potential clients in different cities. Text Marketing Miami was a text message marketing company that, technically, could work in any city. I received numerous calls from people asking, "Does your service work in Boca Raton?", "Does your service work in Tampa?". Of course it did! However, with a name like Text Marketing Miami, they were unsure. Just think how many people never called me and just assumed that my service wouldn't work in their area.
    %p
      Anyways, I digress.
    %p
      After realizing that gyms were going to be my target market, I changed the name go GymTexter. I just looked for the old logo online but I can't find it anywhere. It was a dumbbell with GYM on top and TEXTER below. It was a good start. However, once again, I ostracized some potential businesses. Why would a yoga studio use a service with the word "gym" in the name? Fail #2. Well, third time was a charm, FitnessTexter was born.
    %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/fitnesstexter-logo.png", :style => "width: 50%;"}


    %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.57-PM.png"}
    %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.07-PM.png"}
    %img{:src => "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2015-06-17-at-4.00.32-PM.png"}