- @title = "Starting a 'Lifestyle Business' and Living Off It"
- @metadescription = "I started FitnessTexter a few years ago in order to be able to travel abroad, now I can."
.row
  .small-12.column
    %h1.centered{:style =>"font-size: 36px;"} How I Started FitnessTexter and Live Off the Earnings
    %p Published: May 21, 2015
    %hr
.row
  .small-12.column
    %p
      It's been a while since I wrote a blog post, so I thought I should probably tell you all what's happening.