.row
  .small-12.column
    %h1 Patrick Jones Ruby on Rails Blog
    %hr
    %h3 Posts:
    - Dir.glob('app/views/pages/blog/*.html.haml').sort.each do |file|
      - blog_post = File.basename(file,'.html.haml')
      - unless blog_post == 'index' || blog_post == 'blog_template'
        .panel
          %h5=link_to blog_post.titleize, "/blog/#{blog_post}"