- @title = "Moving Blog from Wordpress Site to Rails Site"
- @metadescription = "In an effort to combine my various online sites, I've decided to move all my Wordpress blog posts to my Heroku site."
.row
  .small-12.column
    %h2 Moving Blog from Wordpress Site to Heroku Site
    %p Published: January 1, 2015
    %hr
    %p I thought it was about time that I retook control of PatrickJones.me from Wordpress and use that as my personal website, instead of having pmichaeljones.herokuapp.com. Therefore, I've started the process of moving all my past posts from that site to this site. I was originally planning on using Octopress (like I do with the DoggieDashboard blog), but decided to go with a static pages route instead.
    %p -Patrick