- @title = "Passing RSPEC Tests for a Rails Validation Error"
- @metadescription = "Working with Rails validation errors can be tricky. Here's how I tested my results."
.row
  .small-12.column
    %h2 Passing RSPEC Tests for a Rails Validation Error
    %p Published: September 9, 2014
    %hr
    %p
      TeaLeaf Academy Course 3 is all about testing baby. The assignment was to write up a test to make sure your validation errors were working. I haven’t looked at the solution video yet, but mine passed with flying colors.
    %p
      The first code snippet below is my validations inside of the Video model. You can see that I’m requiring the presence of a title and a description.
    %p
      The second code snippet is the creation(and subsequent saving via the .create method) of a video instance. The first one lacks a title, the second lacks a description.
    %p
      To make sure that the validations were occurring, I took a peek at the first, and only, full message error of the video instance that I was trying to create, hence the [0] array index.
    %p
      After dealing with a typo in my test, I got everything working.
      %p
      %img{:src => "https://drive.google.com/uc?id=0BwSA_JYWKK3IRzdTSGtwZzVfdTA" }
      %p
      Tests passed! Validations are firing!

      <script src="https://gist.github.com/pmichaeljones/f2d03213bf7db6511ea0.js"></script>