- @title = "Guide to Building a Ruby Gem Using an External Third Party API"
- @metadescription = "Needing a way to print PDF files online, I decided to write a gem for the TryPaper USPS API. Here's how I did it."
.row
  .small-12.column
    %h1.centered.bold{:style =>"font-size: 34px;"} How to Build Your First Ruby Gem using a Third Party API
    %p Published: January 19, 2015
    %hr
    %p If the post below isn't complete, it's because I'm still writing it. I'm pushing to Heroku after every paragraph.
    %hr
    %h3.bold.centered Backstory for Why I Built this Gem
    %hr
    %p
      I own a business called
      %a{:href => "http://boostfitnessmarketing.com/fitnesstexter", :target => "_blank"}FitnessTexter.
      We set up text message marketing campaigns for fitness businesses. Once we have their campaign up and running,
      we send them 3 PDF window signs in the mail. Printing these window signs and mailing them used to be a tedious job.
      I had to walk to Kinkos, print off the signs, fold and stuff them in an envelope, and then drop the envelope in
      a mail box. Normally, this would take about 45 minutes from start to finish. Doing this 5 days per week got to be a
      problem. I decided to find a postal mail API that would solve my problems.
    %p
      After doing a bit of Googling, I found
      %a{:href => "http://trypaper.com", :target => "_blank"}TryPaper.com.
      They offered a RESTful API, but didn't have a working Ruby gem to use. In order to quickly start using their service,
      I decided to write a simple Ruby script that I could run from the command line.
    %p
      Below is a PasteBin of the Ruby script that I was running from command line. It's quite simple.
  .small-12.large-6.columns
    %ul.no-bullet.bold
      %li 1. Run 'ruby uploader.rb' in the command line.
      %li 2. It prints out a list of all PDF files currently in the directory.
      %li 3. Per TryPaper API requirements, Ruby reads the file, converts it to Base64, and loads it into a variable.
      %li 4. It prompts for all the address requirements and stores them in local variables.
      %li 5. After completing all the address inputs, it confirms the correct mailing address.
      %li 6. Type "N" and the address entry loop restarts. If address is correct, it makes an HTTP POST to the TryPaper API.
      %li 7. The POST header contains producion API key. Body contains recipient address, return address ID (from TryPaper dashboard), and Base64 encoded file.
      %li 8. TryPaper receives file and sends back a 201 or 400 response. Wah-lah! API success!
      %li 9. The second HTTP POST deals with spooling. Learn about spooling at TryPaper if you're interested.
  .small-12.large-6.column.centered
    %img{:src => "https://drive.google.com/uc?id=0BwSA_JYWKK3IOElUZThmWUZReUU", :style => "width: 100%" }
  .small-12.columns
    %p
      <iframe src="http://pastebin.com/embed_iframe.php?i=RUKHSU52" style="border:none;width:100%;height:400px;"></iframe>
    %hr
    %p
      However, I wasn't happy with just having a local Ruby script. I'm a strong believer in open source code. I've benefited immensely from numerous open source projects *cough* Rails *cough*, and I wanted to give back to the community.
    %p
      Therefore, I set out on creating my first legit open source gem. I emailed the team at TryPaper(mostly .NET guys) and told them I wanted to build them a gem. Their product had saved my business countless hours and I felt like they deserved a gem so more Ruby devs could implement their API. They were stoked and said they couldn't wait to see the finished product.
    %hr
    %h2.bold.centered Building a Ruby Gem for an External 3rd Party API
    %hr
    %p
      The hardest part of building a Ruby Gem is getting started. Before building this gem, I had never built a gem before, let alone a gem that was going to utilize a 3rd party API. I could build a pretty good-looking Rails app in a few days, with all sorts of bells and whistles. I could write a nice command line Ruby script. Could I build a production-quality Ruby gem? I had no idea. I was nervous to say the least.
    %p
      Prior to starting the gem, I had sent an email to
      %a{:href => 'https://github.com/kytrinyx', :target => "_blank"} Katrina Owens,
      the creator of
      %a{:href => "http://exercism.io", :target => "_blank"} Exercism.io
      I just wanted to get a feel for her coding career path. As a new-on-the-block Ruby developer(I've been doing this since April 2014), I felt like I was "late to the game." Every developer bio I've read seems to say the same thing:
    %p.bold
      "I've been coding since I was 2 years old. I wrote my first program at 5. By 10, I was a professor at MIT."
    %p
      You get the drift. Reading those sorts of bios makes a new developer think it's a pointless endeavor. You think to yourself:
    %p.bold
      "Geez, I'm 27 years old and I just started coding. I'll never achieve their greatness."
    %p
      Wrong! Katrina started coding when she was 27, and look at what a rockstar she is! There's hope for us newbies! She also gave me a word of advice. I'll paraphrase:
    %p.bold
      "There are a lot of developers who don't challenge themselves. You'll only get better if you do projects that seem too hard."
    %p
      This project was intimidating & challenging. Meaning I could only become a better developer as a result. Time to cut a gem!
    %hr
    %h3.bold.centered Creating the Gem and Filling out Gemspec
    %hr
    %p
      Creating the directory for your gem is super easy when you use Bundler:
    %p.bold bundle gem trypaper
    %p
      Done! That was simple. That gives you a base from which to work. Now that you have your directory set up, go ahead and fill in the gemspec info.
    %p
      First things first, we need to set up the dependencies of the gem. These are going to be the gems that are required to run the gem, either in development stage or in production. Since my gem doesn't require any other gems in production, I only have to worry about development dependencies.
    %p
      Bundler and Rake come preconfigured when you use the Bundle command to build the gem. For testing purposes, I've chosen to use RSpec(since I've familiar with the DSL) and VCR, which is a gem that helps immitate HTTP requests during tests so that you don't need to make HTTP request every single time you run a test.
    %h4 gemspec
    <iframe src="http://pastebin.com/embed_iframe.php?i=GUUvXqXd" style="border:none;width:100%;height:300px;"></iframe>
    %hr
    %h3.bold.centered Doing It the TDD Way. Starting with the Spec Helper
    %hr
    %p
      The spec_helper.rb file is required in all your testing specs. It sets important variables that you will need throughout your test, as well as configures RSpec, and any other testing gems. Make sure you REQUIRE your gem, as well any any external testing gems in this file. This will make sure that each of your subsequent spec files has these gems required. Otherwise, you'd have to require each gem in every single testing spec.
    %p
      I copied and pasted the VCR configuration from their
      %a{:href => "https://github.com/vcr/vcr", :target => "_blank"} GitHub page.
      I included the webmock hook_into configuration, because I'll be using webmock to disable external HTTP requests from happening after the initial request. Each request will be saved as a yml file in the 'spec/fixtures/cassttes' directory for using in later tests.
    %p
      Take some time and read all about VCR. It's a pretty rad gem. I was completely baffled by this gem at the start. I didn't really understand it's purpose. To get a better understanding of how it worked, I looked at a very simple Thesaurus API gem that I've used before,
      %a{:href => "https://github.com/dtuite/dinosaurus", :target => "_blank"} Dinosaurus.
    %p
      Basically, as I understand it, it's a way to make an HTTP request to a website, and instead of dealing with the HTTP response, it actually saves the response into a directory that you tell it to. From there, everytime you make a similar HTTP request, your tests will just use the VCR cassette response, instead of making the HTTP request again and again. And believe me, when you run your specs tens or hundreds of times during the build, you'll appreciate how speedy those VCR cassettes are.
    %h4 spec_helper.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=tNuycAFu" style="border:none;width:100%;height:359px;"></iframe>
    %hr
    %h3.bold.centered Creating the Recipient Spec File
    %hr
    %p
      One of the least hard, but most important, aspects of creating a gem is figuring out what you want to call your classes. You're going to be using these classes throughout your implementation files and specs files, so make sure they make sense. Otherwise, once you realize that "class PersonWhoRecievesThePDFDocument" is too wordy, you'll have to go back and change everything! Believe me!
    %p
      So, once you've required 'spec_helper' in your testing spec file, you can start writing your tests. Notice that you need to take into account namespacing when you write your test files. Since my entire gem is inside of the TryPaper module, I need to make sure that I access the classes using "TryPaper::{ClassNameHere}".
    %p
      In order to make the tests follow the DRY rule, you'll want to refactor any code that is used more than once. Using RSpec's "let" method, I assigned the variable "receiver" to be an instance of the Recipient class. I'll be using "receiver" througout all the test, so this will save me many repeated lines of code.
    %p
      The first test is making sure that the class even exists. If "receiver" doesn't exist, it couldn't possible be an instance of the "TryPaper::Recipient" class.
    %p
      After the "existence" test, I tested to make sure that the recipient class had setter methods for all the needed address components.
    %p
      The second last test makes sure that the end-user can only instantiate the class with string arguments, and not integers. The last test makes sure that the "formatted_address" method (which hasn't been written yet) will return a hash. This hash is what will be passed sent to the TryPaper API.
    %h4 recipient_spec.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=mU9w3TpH" style="border:none;width:100%;height:1136px;"></iframe>
    %hr
    %h3.bold.centered Creating the Document Spec File
    %hr
    %p
      The document_spec file is pretty simple. We just need to make sure that the class exists, that the class accepts a file when initialized, and that they class has a method that can convert the file into Base64 format. Simple enough.
    %h4 document_spec.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=STHa0vLH" style="border:none;width:100%;height:443px;"></iframe>
    %hr
    %h3.bold.centered Creating the Mailer Spec File
    %hr
    %p
      This file is the bread and butter of the Gem. The mailer file is where everything comes together to make the HTTP request.
    %p
      First thing, need need to make sure the class exists. After that, we're testing to see that there are getter/setter methods for doc and recipient. The final test(before the HTTP submit tests), is making sure that the Mailer class can accept an optional array argument. This optional array will hold any "optional printing tags" that the end-user wants to send to TryPaper.
    %p
      The last three tests get a little more complex. The first (of the last three) make sure that the gem allows you to upload and send a PDF file. The second test makes sure you can't upload and send a TXT file (TryPaper only accepts PDF files), and the first test makes sure that you can add those optional tags when you upload a PDF document.
    %p
      They utilize the VCR gem to make an initial request to the TryPaper API. They record the response into a designated file (that doesn't exist before you run the tests for the first time).
    %p
      When you run the tests for the first time, it will create a file in your "fixtures/cassettes" directory, and name it whatever you name it. As you can see below the mailer.rb code, I have three VCR cassette YML files that match the three names that I used in the tests below.
    %p
      If you run your test once than once, it will not recreate the YAML file. Therefore, if you need to make changes to tests and get a fresh YAML file, just erase the cassette that goes by the same name as the one in the test, and it will record a new cassette. Hope you're not too confused! It took me a while to grasp this concept. However, without this gem, you'd have a hell of a time testing your gem.
    <iframe src="http://pastebin.com/embed_iframe.php?i=SNwGWaFL" style="border:none;width:100%"></iframe>
    %h4 mailer_spec.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=Mxay7WCF" style="border:none;width:100%;height:1745px;"></iframe>
    %hr
    %h3.bold.centered Using VCR Gem to Mimic HTTP Requests
    %hr
    %h4 pdf_document.yml
    <iframe src="http://pastebin.com/embed_iframe.php?i=UgWGja6A" style="border:none;width:100%;height:300px;"></iframe>
    %h4 good_document_with_tags.yml
    <iframe src="http://pastebin.com/embed_iframe.php?i=TY1dxwPF" style="border:none;width:100%;height:300px;"></iframe>
    %h4 bad_document.yml
    <iframe src="http://pastebin.com/embed_iframe.php?i=wcJCqZXF" style="border:none;width:100%;height:300px;"></iframe>
    %hr
    %h2.bold.centered Writing Implementation Code...The Fun Part of TDD!
    %hr
    %p
      FUN STUFF HERE
    %hr
    %h3.bold.centered Creating the Version File
    %hr
    %p
      VERSION FILE STUFF
    %h4 version.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=Srfaqgpq" style="border:none;width:100%;height:86px;"></iframe>
    %hr
    %h3.bold.centered Creating the Main Gem File
    %hr
    %p
      MAIN FILE STUFF
    %h4 trypaper.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=0Y3AUEGj" style="border:none;width:100%;height:128px;"></iframe>
    %hr
    %h3.bold.centered Creating the Document Gem File
    %hr
    %p
      DOCUMENT FILE STUFF
    %h4 document.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=eLAWppgw" style="border:none;width:100%;height:443px;"></iframe>
    %hr
    %h3.bold.centered Creating the Recipient Gem File
    %hr
    %p
      RECIPIENT STUFF HERE
    %h4 recipient.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=5BjDkV1u" style="border:none;width:100%;height:1010px;"></iframe>
    %hr
    %h3.bold.centered Creating the Mailer Gem File
    %hr
    %p
      MAILER STUFF HERE
    %h4 mailer.rb
    <iframe src="http://pastebin.com/embed_iframe.php?i=3a2UiScY" style="border:none;width:100%;height:1052px;"></iframe>
    %hr
    %h3.bold.centered Creating the Finished ReadMe File
    %hr
    %p
      Writing the ReadMe file is just the cherry on top. After all that hard work, you get to tell your Ruby brothers and sisters how they get to use your precious little gem. Use MarkDown to make it look pretty. Give a good example usage, so that people will know how to use your gem out of the box.
    %h4 Readme
    <iframe src="http://pastebin.com/embed_iframe.php?i=7Pm7CHqz" style="border:none;width:100%;height:300px;"></iframe>
    %hr
    %h3.bold.centered Take-Aways from Building the TryPaper.com API Gem
    %hr
    %p
      One of the best things I did before creating this gem was writing the Ruby script that you see at the very top of this blog post. Writing that script and learning the ins-and-outs of the TryPaper API were very important. If you don't understand the API you're working with, you'll never know how to build a gem that interacts with the API in question.
    %p
      Also, for your first gem project, find something that interests you. You want to be excited to complete your gem. If you're not stoked to complete your gem and push it to RubyGems.org, you'll never overcome the difficult times that you're sure to interact. For me, completing this gem was necessary before I could build
      %a{:href => "http://www.patrickjones.me/trypaper-api-ruby-web-application", :target => "_blank"}TryPaper's web app.
      I was stoked to finish the gem so I could start the app. Also, since the TryPaper guys have helped my business save 20 hours per month, I thought they deserved a Ruby gem. They have a great product and having a Ruby gem is only going to help their business grow.
    %p
      I need to thank Matt and Ben from
      %a{:href => "http://quickleft.com", :target => "_blank"} QuickLeft.
      Reading their blog posts about
      %a{:href => "https://quickleft.com/blog/engineering-lunch-series-step-by-step-guide-to-building-your-first-ruby-gem/", :target => "_blank"} creating your first gem
      and
      %a{:href => "https://blog.engineyard.com/2014/wrapping-your-api-in-a-ruby-gem", :target => "_blank"} wrapping external APIs in gems
      gave me the inspiration to build my own gem.
      Also want to thank
      %a{:href => "http://davidtuite.com/", :target => "_blank"} David Tuite
      for answering some VCR questions for me.
    %hr
    %h3.bold.centered Closing Thoughts on Building My First Ruby Gem
    %hr
    %p
      All I can say is, holy cow, what a sense of accomplishment! From having never built a gem, to building a gem I was very proud of; it was a great experience.
    %p
      I learned a lot during this build and more importantly, I internalized that I COULD write good Ruby code, I COULD learn new libraries that I was unfamiliar with, and that I COULD hope to be a great Ruby developer one day.
    %p
      It's a step by step process my brothers and sisters. You're not going to go from novice developer to Katz in a day, a week, a month, or even a year. But damnit man, just keep coding, keep learning, and don't let anything hold you back!
    %p.centered
      %img{:src => "https://drive.google.com/uc?id=0BwSA_JYWKK3IQzNpQ0ZPMS12OWc"}



