- @title = "Guide to Building Your First Ruby Gem using a Third Party API"
- @metadescription = "I had to build a gem for a postal mailing API. Here's how I did it."
.row
  .small-12.column
    %h2 How to Build Your First Ruby Gem using a Third Party API
    %p Published: January 19, 2015
    %hr
    %h4 A Little Backstory
    %p
      I own a business called
      %a{:href => "http://boostfitnessmarketing.com/fitnesstexter", :target => "_blank"}FitnessTexter.
      We set up text message marketing campaigns for fitness businesses. Once we have their campaign up and running,
      we send them 3 PDF window signs in the mail. Printing these window signs and mailing them used to be a tedious job.
      I had to walk to Kinkos, print off the signs, fold and stuff them in an envelope, and then drop the envelope in
      a mail box. Normally, this would take about 45 minutes from start to finish. Doing this 5 days per week got to be a
      problem. I decided to find a postal mail API that would solve my problems.
    %p
      Enter
      %a{:href => "http://trypaper.com", :target => "_blank"}TryPaper.com

