- @title = "Tutorial for Building Ruby Gem using Third Party API"
- @metadescription = "I had to build a gem for a postal mailing API. Here's how I did it."
.row
.small-12.column
  %h2 Guide to Building Your First Ruby Gem using a Third Party API
  %p Published: January 19, 2015
  %hr
  %p I run a business. That business sends out a lot of PDF flyers.
