/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */
 @import 'foundation-icons';

/* CUSTOM STYLING BELOW */

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.tabs dd > a, .tabs .tab-title > a {
  color: white;
  background: #333;
  border-left: 3px solid white;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background: orange;
  color: black;
}

.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background: orange;
  color: black;
}

.tabs {
  margin-left: 5px;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: orange;
}

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
  background: orange;
}

.blog-title {
  font-size: 24px;
}